.DetailedCard{
  background-color: var(--main-color-white);
  width: 60%; /*<-- here add media queries for responsiveness*/
  margin: 20px auto; /*<-- here add media queries for responsiveness short screen size*/
  overflow-y: scroll;
  height: calc(100vh - 250px);
  padding: 20px 40px;
  border-radius: 7px;
  box-shadow: 0px 1px 1px rgba(0,0,0,0.5);
}
