.CustonInput {
  /*width: 100%;*/
  padding: 10px;
  box-sizing: border-box;
}

.InputLabel {
  font-weight: bold;
  display: block;
  /*margin-bottom: 8px;*/
}

.InputElement {
  outline: none;
  border: none;
  border-radius: 4px;
  background-color: var(--main-color-light-grey);
  font: inherit;
  padding: 6px 10px;
  transition: all 0.3s ease-in-out;
}

.InputElement:focus {
  outline: none;
  color: var(--main-color-white);
  background-color: var(--main-color-bright-blue);
}

.InputElement:focus::placeholder {
  color: var(--main-color-white);
}
