.CardNav {
  background-color: var(--main-color-dark-blue);
  box-shadow: 0px 15px 15px rgba(0,0,0,0.5);
  width: 250px;
  display: flex;
  flex-direction: column;
  border-radius: 6px;
  padding: 6px;

  transform: translate3d(15px, -15px, 0);
  /*transition: all 0.3s ease-in;*/
  transition: all 0.3s cubic-bezier(0, 0, 0.73, 2.27);
}

.CardNavDiv {
  background-color: var(--main-color-white);
  border-bottom: 4px solid transparent;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
}

.CardNav:hover, .CardNav.move {
  transform: translate3d(30px, -30px, 0);
}

.CardNavDiv:hover,
.CardNavDiv.active {
  border-bottom: 4px solid var(--main-color-orange);
}
